#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_SCRIPT := ./autogen.sh
DEB_CONFIGURE_SCRIPT_ENV += glib_cv_long_long_format=q \
glib_cv_stack_grows=no	\
glib_cv_uscore=no	\
ac_cv_func_posix_getpwuid_r=yes	\
ac_cv_func_posix_getgrgid_r=yes
DEB_CONFIGURE_EXTRA_FLAGS := --prefix=/usr --host=$(DEB_HOST_GNU_TYPE) --disable-rpath --disable-gtk-doc --disable-man --enable-static
DEB_MAKE_CLEAN_TARGET := clean
DEB_DH_STRIP_ARGS := --dbg-package=libglib2.0-dbg --exclude=bin

clean::
	[ ! -f Makefile ] || make distclean
	[ ! -f debian/control.orig ] || mv -f debian/control.orig debian/control

binary-install/libglib2.0-0::
	[ -f debian/control.orig ] || cp debian/control debian/control.orig
ifeq (,$(findstring target,$(DEB_BUILD_OPTIONS)))
	sed -ie 's,Section: .*,Section: host/tools,g' $(CURDIR)/debian/control
else
	sed -ie 's,Section: host/tools,Section: core,g' $(CURDIR)/debian/control
endif
